

.a {
  background-color: yellow;
}

.b {
  background-color: palegreen;
}

.c {
  background-color: palevioletred;
}

.d {
  background-color: peru;
}

.e {
  background-color: purple;
}

.e {
    background-color: pink;
  }
